# Some useful links to start a database connection from python
https://www.heatonresearch.com/content/oracle.html 
https://oracle.github.io/odpi/doc/installation.html#windows
https://docs.sqlalchemy.org/en/latest/core/engines.html --connection strings for different databases
https://www.youtube.com/watch?v=LSnAs2WbLiA how to specify the connection string for oracle database

In [66]:
from sqlalchemy import create_engine

In [68]:
engine=create_engine('oracle+cx_oracle://db542:db5pass1@reade.forest.usf.edu/cdb9')
#For all the different methods discussed below the first two lines of code is mandatory 
#the +cx_Oracle dialect is optional here.+cx_Oracle is a module in python to connect to the oracle databaes

In [26]:
TableNames=engine.table_names() 
#To get different tables in the database

In [27]:
print(TableNames)

[]

# Method1 using connect string which needs to be closed at the end, failing so would result in erros for future connections

In [36]:
con=engine.connect() #Connecing to the database

In [37]:
rs=con.execute("SELECT * FROM BEERS") #executing the query

In [38]:
#writing the result of the query into a dataframe
import pandas as pd 
df=pd.DataFrame(rs.fetchall())
df.columns=rs.keys() 
#This line outputs the dataframe column names to the exact column namse as in database, else the column names would be just indexes like 0,1,2 etc

In [39]:
con.close()

In [40]:
print(df.head())

   beer_id  brewery_id                 beer_name  cat_id  style_id  abv ibu  \
0      283         892  Kilt Lifter Scottish Ale       1        15    8   0
1      284         892            India Pale Ale       3        26  6.5   0
2      285         588               Blonde Bock       7        90    7   0
3      286         588               Schwarzbier       7        86  4.3   0
4      287         588               Czech Lager      -1        -1    0   0

    srm  upc       last_mod srm_raw
0  None    0  7/22/10 20:00    None
1  None    0  7/22/10 20:00    None
2  None    0  7/22/10 20:00    None
3  None    0  7/22/10 20:00    None
4  None    0  7/22/10 20:00    None

# Method 2 using a context manager construct to open a database connection which saves the trouble of closing the connection later/trouble of forgetting to close the connection

In [61]:
with engine.connect() as con:
    rs1=con.execute("SELECT * FROM BEERS")
    df1=pd.DataFrame(rs1.fetchall()) # fetching all the records
    df1.columns=rs1.keys()
    print(df1.head())

In [64]:
with engine.connect() as con:
    rs2=con.execute("SELECT BEER_ID, BEER_NAME FROM BEERS")
    df2=pd.DataFrame(rs2.fetchmany(size=5)) #fetching only the first five records
    df2.columns=rs2.keys()
    print(df2.head())

   beer_id                 beer_name
0      283  Kilt Lifter Scottish Ale
1      284            India Pale Ale
2      285               Blonde Bock
3      286               Schwarzbier
4      287               Czech Lager

# Method 3 utilizing pandas read_sql_query function passing two arguments

In [69]:
df3=pd.read_sql_query("SELECT * FROM STYLES",engine) 
#first argument is the sql query and the second argument is the engine you wish to connect.
#Here engine is the variable that we have created at the start.

In [70]:
print(df3.head())

   style_id  category_id                      style_name             last_mod
0         1            1  Classic English-Style Pale Ale  2010-10-24 13:53:31
1         2            1    English-Style India Pale Ale  2010-06-15 19:14:38
2         3            1                 Ordinary Bitter  2010-06-15 19:14:54
3         4            1   Special Bitter or Best Bitter  2010-06-15 19:15:02
4         5            1            Extra Special Bitter  2010-06-15 19:15:09

# Method 4 : Without using SQLAlchemy package

In [71]:
import cx_Oracle

In [74]:
connection=cx_Oracle.connect("db542","db5pass1","//reade.forest.usf.edu/cdb9") #establish a database connection

In [75]:
cursor=connection.cursor()

In [76]:
rs=cursor.execute("SELECT * FROM BEERDB.COLORS")

In [77]:
# printing the result set. The result is not a dataframe.We can convert the result set into a dataframe as seen in methods 1,2 3
for row in rs:
    print(row)

(2, 'Pale Lager, Witbier, Pilsener, Berliner, Weisse', 4)
(3, 'Maibock, Blonde Ale', 6)
(4, 'Weissbier', 8)
(6, 'American Pale Ale, India Pale Ale', 12)
(8, 'Weissbier, Saison', 16)
(10, 'English Bitter, ESB', 20)
(13, 'Biere de Garde, Double IPA', 26)
(17, 'Dark Lager, Vienna Lager, Marzen, Amber Ale', 33)
(20, 'Brown Ale, Bock, Dunkel, Dunkelweizen', 39)
(24, 'Irish Dry Stout, Doppelbock, Porter', 47)
(29, 'Stout', 57)
(35, 'Foreign Stout, Baltic Porter', 69)
(40, 'Imperial Stout', 79)